.footer {
    background-image: url('../../../public/imagens/fundo.png');
    background-size: 100%;
    background-color: #6278F7;
    background-repeat: no-repeat;
    height: 210px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    overflow: hidden;
}

.footer .redes-sociais-icones {
    display: flex;
    gap: 28px;
    margin-top: 15px;
}

.footer p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}