.time {
    text-align: center;
    padding: 32px;
    position: relative;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.colaboradores-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
}

.input-color {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: transparent;
}